


<div class="container">
    <br>
    <div class="row row-cols-1 row-cols-md-2">

        <div class="col mb-4" *ngFor="let pokemon of pokemonesv2">
            <div class="card" style="width: 18rem;">
                <img src="{{pokemon.image}}" class="card-img-top" alt="Raised image">
                <div class="card-body">
                    <h5 class="card-title">{{pokemon.pokemon.name}}</h5>
                    <p class="card-text">El mejor pokemon inicial.</p>
                    <a href="ruta" class="btn btn-primary">Ver detalle</a>
                </div>
            </div>
        </div>

    </div>
</div>